<section class="dynamic_bg">
     <div class="container sm:pt-32 lg:py-40">
          <div class="lg:grid lg:grid-cols-12 lg:gap-8">
               <div class="lg:col-span-5">
                    <h2 class="type_2xl font-bold leading-10 tracking-tight text-primary-dark" x-show="shown" x-transition x-transition.delay.10.duration.600>
                         {{ block.content_title_plain }}
                    </h2>
                    {% for button in block.subtitle_box_pill.all() %}
                         {% if button.contentButtonText|length %}
                              <p class="mt-4 type_base leading-7 text-secondary-dark" x-show="shown" x-transition x-transition.delay.20.duration.600>
                                   {{ button.contentLinkPrefix }}
                                   <a 
                                        {% if button.type == "internal" %}
                                             href="{{ button.contentPage.one().url }}"
                                        {% endif %}
                                        {% if button.type == "external" %}
                                             href="{{ button.contentUrl }}"
                                        {% endif %}
                                        class="font-semibold text-accent hover:text-accent-focus">
                                             {{ button.contentButtonText }}
                                   </a>
                              </p>
                         {% endif %}
                    {% endfor %}
               </div>
               <div class="mt-10 lg:col-span-7 lg:mt-0">
                    <dl class="space-y-10">
                         {% for block in block.children %}
                              {% set delayTime = (loop.index * 100) + 30 %}
                              {% if block.content_title_plain|length %}
                                   <div>
                                        <dt class="type_base font-semibold leading-7 text-primary-dark"  x-show="shown" x-transition.delay.{{ delayTime }}.duration.600>
                                             {{ block.content_title_plain }}
                                        </dt>
                                        <dd class="mt-2 type_base leading-7 text-secondary-dark"  x-show="shown" x-transition.delay.{{ delayTime }}.duration.600>
                                             {{ block.content_subtitle_plain }}
                                        </dd>
                                   </div>
                              {% endif %}
                         {% endfor %}
                    </dl>
               </div>
          </div>
     </div>
</section>