<header
     class="bg-primary-light transition-transform duration-300 z-10 sticky top-0" 
     x-data="{ isMobileNavOpen: false, sticky: true, oldScroll: 100 }"
     x-ref="navbar"
     x-on:scroll.window="let result = (this.oldScroll > this.scrollY) || (this.scrollY < 1); this.oldScroll = this.scrollY;console.log(this.scrollY); sticky = result;"
     x-bind:class="{
          '-translate-y-full': !sticky
     }"
>
    <nav class="mx-auto flex max-w-7xl items-center justify-between gap-x-6 p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
        <a href="{{ siteUrl }}" class="-m-1.5 p-1.5">
        <span class="sr-only">{{ siteName }}</span>
        {% if block.svg_inline|length %}
            {% for image in block.svg_inline.all() %}
                {{ svg(image)|attr({
                    class: 'w-16 h-8'
                }) }}
            {% endfor %} 
        {% endif %}
        </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
    {% if block.links_max_four|length %}
        {% for block in block.links_max_four.all() %}
                {% if block.type == "regular" %}
                    {% apply spaceless %}
                    <a href="{% for entry in block.contentPage %}{{ entry.url }}{% endfor %}" 
                        class="type_xs text-primary-dark hover:text-secondary-dark
                        {% for entry in block.contentPage %}
                            {% if entry.slug == craft.app.request.url|trim('/', side='left') %}
                                active-page text-secondary-dark hover:text-primary-dark
                            {% endif %}
                        {% endfor %}
                    ">
                        {{ block.contentLabel }}
                    </a>
                    {% endapply %}
                {% endif %}
            {% endfor %}
    {% endif %}
    </div>

    <div class="hidden lg:flex flex-1 items-center justify-end gap-x-6 text-sm">
          {% include "_components/_shortcuts/neo_button_double.twig" %}
    </div>
    <div class="flex lg:hidden">
        <button type="button" @click="isMobileNavOpen = true" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700" >
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        </button>
    </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div 
        x-show="isMobileNavOpen"
        class="lg:hidden"
        x-bind:aria-label="isMobileNavOpen ? 'Close main menu' : 'Main menu'"
        aria-label="Main menu"
        x-bind:aria-expanded="isMobileNavOpen">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-10"></div>
        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center gap-x-6">
                <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">{{ siteName }}</span>
                    {% if block.svg_inline|length %}
                        {% for image in block.svg_inline.all() %}
                            {{ svg(image)|attr({
                                class: 'w-16 h-8'
                            }) }}
                        {% endfor %} 
                    {% endif %}
                </a>
               <div class="ml-auto"> 
                    {% include "_components/_shortcuts/neo_button_single.twig" %}
               </div>

                <button type="button" x-on:click="isMobileNavOpen = false" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Close menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
                </button>
            </div>
            <div class="mt-6 flow-root" x-show="isMobileNavOpen" x-transition >
                <div class="-my-6 divide-y divide-gray-500/10">

                <div class="space-y-2 py-6">
                    {% if block.links_max_four|length %}
                        {% for block in block.links_max_four.all() %}
                              {% if block.type == "regular" %}
                              {% apply spaceless %}
                                   <a href="{% for entry in block.contentPage %}{{ entry.url }}{% endfor %}"
                                   class="-mx-3 block rounded-lg px-3 py-2 type_sm text-primary-dark
                                   {% for entry in block.contentPage %}
                                        {% if entry.url == craft.app.request.url|trim('/', side='left') %}
                                             active-page 
                                        {% endif %}
                                   {% endfor %}
                                   ">
                                   {{ block.contentLabel }}
                                   </a>
                              {% endapply %}
                              {% endif %}
                         {% endfor %}
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div>
</header>
