{# Watch out—these aren't the same as element IDs! #}
{% set product = craft.shopifyProducts
  .shopifyId(8893665411355)
  .one() %}

{% set defaultVariant = product.getDefaultVariant() %}

<div class="bg-white">
  <div class="pb-16 pt-6 sm:pb-24">
    <nav aria-label="Breadcrumb" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <ol role="list" class="flex items-center space-x-4">
        <li>
          <div class="flex items-center">
            <a href="#" class="mr-4 text-sm font-medium text-gray-900">Women</a>
            <svg viewBox="0 0 6 20" aria-hidden="true" class="h-5 w-auto text-gray-300">
              <path d="M4.878 4.34H3.551L.27 16.532h1.327l3.281-12.19z" fill="currentColor" />
            </svg>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <a href="#" class="mr-4 text-sm font-medium text-gray-900">Clothing</a>
            <svg viewBox="0 0 6 20" aria-hidden="true" class="h-5 w-auto text-gray-300">
              <path d="M4.878 4.34H3.551L.27 16.532h1.327l3.281-12.19z" fill="currentColor" />
            </svg>
          </div>
        </li>

        <li class="text-sm">
          <a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600">{{ product.title }}</a>
        </li>
      </ol>
    </nav>
    <div class="mx-auto mt-8 max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="lg:grid lg:auto-rows-min lg:grid-cols-12 lg:gap-x-8">
        <div class="lg:col-span-5 lg:col-start-8">
          <div class="flex justify-between">
            <h1 class="text-xl font-medium text-gray-900">{{ product.title }}</h1>
            <p class="text-xl font-medium text-gray-900">{{ defaultVariant.price|currency }}</p>
          </div>
        </div>

        <!-- Image gallery -->
        <div class="mt-8 lg:col-span-7 lg:col-start-1 lg:row-span-3 lg:row-start-1 lg:mt-0">
          <h2 class="sr-only">Images</h2>

          <div class="grid grid-cols-1 lg:grid-cols-2 lg:grid-rows-3 lg:gap-8">
               {% for image in product.images %}
                    <img 
                         src="{{ image.src }}"
                         alt="{{ image.alt }}"
                         {% if loop.first %}
                              class="lg:col-span-2 lg:row-span-2 rounded-lg"
                         {% else %}
                              class="hidden lg:block rounded-lg"
                         {% endif %}
                    >
               {% endfor %}
          </div>
        </div>

        <div class="mt-8 lg:col-span-5">
          <form id="add-to-cart" method="post" action="{{ craft.shopify.store.getUrl('cart/add') }}">

          {# Create a hidden input to send the resolved variant ID to Shopify: #}
          {{ hiddenInput('id', null, {
          id: 'variant',
          data: {
               variants: product.variants,
          },
          }) }}

          
          {% for option in product.options %}
               <div class="mt-8">
               <div class="flex items-center justify-between">
                    <h2 class="text-sm font-medium text-gray-900">{{option.name}}</h2>
               </div>
               <fieldset class="mt-2">
                    <div class="grid grid-cols-3 gap-3 sm:grid-cols-6">
                         {% for value in option.values %}
                              <label class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 cursor-pointer focus:outline-none">
                                   <input type="radio" class="sr-only" data-option="{{option.position}}" value="{{value}}">
                                   <span id="size-choice-0-label">{{value}}</span>
                              </label>
                         {%  endfor %}
                    </div>
               </fieldset>
          {% endfor %}

               <button type="submit" class="mt-8 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Add to cart</button>
          </form>

          <!-- Product details -->
          <div class="mt-10">
            <h2 class="text-sm font-medium text-gray-900">Description</h2>

            <div class="prose prose-sm mt-4 text-gray-500">
              {{product.bodyHtml|raw}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

